.footer-socials__call,
.signup__call {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $primary-white-color;
}
.footer-socials__list {
  display: flex;
}
.footer-socials__item {
  @extend %list;
  &:not(:last-child) {
    margin-right: 10px;
  }
}
.footer-socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: $primary-white-color;
  background-color: $footer-icon-background-color;
  transition: background-color 250ms $main-animation;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}
.footer-socials__icon {
  fill: currentColor;
}
