.signup__input {
  margin-right: 15px;
  width: 358px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: $primary-white-color;
  background-color: $bg-darl-color;

  &::placeholder {
    color: $semitransparent-white-color;
  }
}

.signup__icon {
  margin-left: 10px;
}
